doctype html
html(lang="en")
  head
    title!= "Learn with Evan"

    link(rel="stylesheet/less" href="/public/core.less" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js" type="text/javascript")
  body
    .jumbotron
        h1!= "Learn with Evan."
        h2.subheading
            a(href="mailto:learn@withevan.com")!="learn@withevan.com"
