doctype html
html(lang="en")
  head
    title!= "Learn with Evan"

    meta(name="google-site-verification" content="Y72HUBNlmQHbidHU1XvHseXbhg3js_xtwIrQCnD7sOk")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet/less" href="/public/core.less" type="text/css")
    link(href="//fonts.googleapis.com/css?family=Raleway:100,300,800" rel="stylesheet" type="text/css")
    link(href="//fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js" type="text/javascript")

  body
    block content
