extends layout

block content
    .centered-container
        .jumbotron
            h1 Styleguide
            h3.subheading Colors, grids, and fonts
        div
            p.style-description
                | This is a description of something in the styleguide, the first
                | column of two. Every class should have a demo here. There should
                | be an expanding arrow for existing styles.
            p.style-demo

